<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /medical/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/medical/public/
    RewriteRule ^(.*)$ public/$1 [QSA,L]
</IfModule>

