<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /medical/

    # If the request is not a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route everything to public/index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>

